.idea/*
.vscode/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Versions
.tool-versions
venv/

# Others
.DS_Store

.pytest_cache/*
.coverage
*.pyc

env_list.env
secret.json
amped/amped/conf.json
